.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header{
  background-color:#665084 !important;


}

a{
  text-decoration: none;

}

@media screen and (max-width: 800px){
  #comments {


  }
}

.w3-sidebar{
  width: 15% !important;
}

.sound-wave{
  width:100% !important;
  height: 60px !important;

}