html {
  background-color: #F3E6DE;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header{
  background-color:#665084 !important;


}

a{
  text-decoration: none;

}

@media screen and (max-width: 800px){
  #comments {


  }
}

.w3-sidebar{
  width: 15% !important;
}

.sound-wave{
  width:100% !important;
  height: 60px !important;

}


@media screen and (max-width: 1000px) {
  #startpage {
    display: block !important;
    position: relative !important;
  }

  #infocontainer {
    width: 100% !important;
    position: absolute !important;
    z-index: 0 !important;
  }

  #startcontainer {
    position: absolute !important;
    z-index: 1 !important;
    width: 100% !important;
    height: auto !important;
    margin: 0 auto !important;
    padding: 10px !important;
    position: relative !important;
  }

  #startform{
    min-width: 60% !important;
  }

  #infoheader {
    font-size: 150% !important;
  }

}

.HoverRed:hover {
  color: #f44336;
}