.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


*{
    text-decoration: none !important;

}


@media screen and (max-width: 640px){
    #center {

       width: 79% !important;

    }
    #navigation{
        width: 21% !important;
        font-size: 75%;
    }

    #chart{

        width:72% !important;
    }
    #right{
        font-size: 75%;
        width:28% !important;
    }
    .inner{
        width:72% !important;

    }

    #buttons{
        display:block;

    }
    #code{
        font-size: 70% !important;

    }

}

#titleDisplay{
    width: 80% !important;
    /*
    Source: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
     */
    overflow-wrap: break-word;
    word-wrap: break-word;


}

#title{
    width: 80% !important;

}



.sound-wave{
    width:100% !important;
    height: 60px !important;

}
