.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;

}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
#comments{
    border-radius: 10px !important;
    position:static;
}

.header{
    background-color:#333333 !important;


}

img{

    margin:0 !important;
    background-size: 100%;

}


*{
    text-decoration: none !important;

}
.widget-container{
    z-index: 0 !important;
    margin: 0 !important;

}

.predefined{

    padding: 0 !important;
    margin: 0em 0em 4em 1em;

}

@media screen and (max-width: 800px){
    #customized {

        width: 100% !important;
        height: 100% !important;

    }
    #comments{

        height: 100% !important;
        width: 100% !important;

    }
    #left{
        width:100% !important;


    }
    #messages{
        height: 50vh;

    }
    .header{
        font-size: 70%;



    }

}

@media screen and (max-width: 600px) {

    #navigationJoin{
        width:30% !important;
        font-size: 75% !important;

    }
    #content{
        width: 70% !important;

    }

    .predefined{

        margin: 0 0 2em 3px !important;

    }


}
#mainTitle{
    font-family: cursive, sans-serif !important;

}
*{
    font-family: Poppins, sans-serif;

}



.w3-sidebar{
    width: 15% !important;
}

.new-message{
    width: 80% !important;
    float: left !important;

}
#post{
    float: right !important;

}
.message-text,.client{

    background-color: #585858 !important;
    width: 100% !important;
    max-width: 5000px !important;
    color:white !important;

    /*
    Source: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
     */
    overflow-wrap: break-word;
    word-wrap: break-word;

}
