

@media screen and (max-width:1000px) {
    #sidebar{
        font-size: 80% !important;
    }

}
@media screen and (max-width:890px) {
    #sidebar {
        font-size: 65% !important;
    }


}
@media screen and (max-width:590px) {

    #sidebar{
        width: 20% !important;

    }



}

#joined,#created{
    height: auto;
    max-height: 70vh;
    overflow:auto;
    float:right;
    width: 85%;
    margin-top: 1em;
}


.sessions{
    margin: 1em auto;
    padding: 2px 0 1px 0;
    width:75%;
    text-align: center;
    background-color:lightgrey;
    border-radius:10px;

}


