@media screen and (max-width:1000px) {
    #sidebar{
        font-size: 13px;
    }
    #buttons {
        margin-right: 250px !important;
    }

}
@media screen and (max-width:890px) {
    #sidebar {
        font-size: 10px;
    }
}

@media screen and (max-width:700px) {
    #buttons {
        margin-right:100px !important;
    }
}

@media screen and (max-width:500px) {
    #buttons {
        margin-right:15px !important;
    }
}
