

@media screen and (max-width:1000px) {
    #sidebar{
        font-size: 80% !important;
    }

}
@media screen and (max-width:890px) {
    #sidebar {
        font-size: 65% !important;
    }


}
@media screen and (max-width:590px) {
    .sessions {
        margin-right: 10px !important;
    }
    #sidebar{
        width: 20% !important;

    }



}



.sessions{
    margin:10px;
    background-color:lightgrey;
    width:75%;
    float:right;
    border-radius:10px;
    margin-right: 2em;

}


